body {
  margin: 0;
  font-family: helvetica, sans-serif;
}

.top-container{
  background-color: #f3f4ed;
  text-align: center;
  position: relative;
  padding-top: 100px;

}

h1 {
  margin: 0;
}


.pro{
  text-decoration: Underline;
}

.top-cloud{
  position: absolute;
  right: 19%;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 19%;
  bottom: 310px;
}
